* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.caja1 {
    background-color: red;
    width: 200px;
    height: 200px;
    position: absolute;
}

.caja2 {
    background-color: blue;
    width: 100px;
    height: 100px;
    position: relative;
    left: 20px;
    top: 30px;
    right: 10px;
    bottom: 10px;
}

/* .caja3 {
    background-color: green;
    width: 50px;
    height: 50px;
    position: relative;
    left: 10px;
} */
