* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

body {
    background-color: #1D1C1A;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.card {
    width: 300px;
    height: 440px;
    background-color: #cacaca;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 8px 20px;
}

.cart-icon {
    width: 30px;
    align-self: flex-end;
    cursor: pointer;
}

.shoe-img {
    width: 200px;
    margin-bottom: 44px;
}

.colors {
    display: flex;
    gap: 20px;
}

.color {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    cursor: pointer;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.title {
    font-size: 20px;
    text-align: center;
}

.price-container {
    font-size: 18px;
    text-align: center;
    font-weight: 700;
}

.price-value {
    color: #e16200;
}

.add-to-cart {
    background-color: #e16200;
    color: #fff;
    border: none;
    padding: 8px 24px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}